# CAR SALE DATA

# importing library

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# importing dataset

In [2]:
df = pd.read_csv('Data/car-sales-extended-missing-data.csv')

# removing nan value in df[Price]

In [3]:
df.dropna(subset=['Price'],inplace=True)
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [4]:
df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

# spliting dataset into Xand Y

In [9]:
X = df.drop(['Price'],axis=1)
Y = df['Price']
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

# fill-in nan values

In [15]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
#define feature parameters
non_numeric = ['Make','Colour']
odometer = ['Odometer (KM)']
doors = ['Doors']
#imputer class
SI_non_numeric = SimpleImputer(strategy='constant',fill_value='Missing')
SI_odometer = SimpleImputer(strategy='mean')
SI_doors = SimpleImputer(strategy='constant',fill_value=4)
#fill-in the values
CT = ColumnTransformer([('SI_non_numeric',SI_non_numeric,non_numeric),
                       ('SI_odometer',SI_odometer,odometer),
                       ('SI_doors',SI_doors,doors)
                       ])
Xfill = CT.fit_transform(X)
Xfill

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ...,
       ['Nissan', 'Blue', 66604.0, 4.0],
       ['Honda', 'White', 215883.0, 4.0],
       ['Toyota', 'Blue', 248360.0, 4.0]], dtype=object)

In [21]:
df1 = DataFrame(Xfill,columns=['Make','Colour','Odometer (KM)','Doors'])
df1.head()

     Make Colour Odometer (KM) Doors
0   Honda  White         35431     4
1     BMW   Blue        192714     5
2   Honda  White         84714     4
3  Toyota  White        154365     4
4  Nissan   Blue        181577     3

In [22]:
df1.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

# encoding non-categorical features

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
HTE = OneHotEncoder()
#define feartures to encode
features = ['Make','Colour','Doors']

CTE = ColumnTransformer([('HTE',HTE,features)],remainder='passthrough')
encoded_X = CTE.fit_transform(df1)
encoded_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

# spliting data into train_test_set

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(encoded_X,Y,test_size = 0.2)

# selecting best model to train-on
model 1......

In [37]:
# from sklearn.linear_model import Lasso
# Las = Lasso(alpha=0.5)
# Las.fit(X_train,Y_train)
# Las.score(X_test,Y_test)

0.2944975062420869

In [39]:
#model 2.....
# from sklearn.svm import SVR
# SV = SVR()
# SV.fit(X_train,Y_train)
# SV.score(X_test,Y_test)

-0.06988364060689145

In [3]:
from sklearn.svm import SVR
from sklearn.ensemble import BaggingRegressor
from sklearn.datasets import make_regression
X_train,Y_train = make_regression(n_samples=100,n_features=4,
                                 n_informative=2,n_targets=1,
                                 random_state=0,shuffle=False)
regr = BaggingRegressor(base_estimator=SVR(),
                       n_estimators=100,random_state=0).fit(X_train,Y_train)