# import library

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# import dataset

In [3]:
df = pd.read_csv('041 heart-disease.csv')

In [4]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

 # define the independent variable
 to define X

In [6]:
X = df.drop('target',axis=1)

In [7]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

# define the dependent variable
to define Y

In [8]:
Y = df['target']

In [9]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# spliting my data into test and training set

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

# selecting model to fit my data

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
RFC = RandomForestClassifier(n_estimators=100)

# fitting my training dataset to d RFC model

In [17]:
RFC.fit(X_train,Y_train)

RandomForestClassifier()

# test dataset prediction

In [18]:
Ypred = RFC.predict(X_test)

In [19]:
Ypred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0], dtype=int64)

In [20]:
Y_test

124    1
112    1
258    0
6      1
234    0
      ..
177    0
70     1
140    1
256    0
229    0
Name: target, Length: 61, dtype: int64

# evaluating result i.e checking accuracy

In [22]:
RFC.score(X_test,Y_test)*100

83.60655737704919

# another method of checking accuracy

In [24]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
classification_report(Ypred,Y_test)

'              precision    recall  f1-score   support\n\n           0       0.73      0.86      0.79        22\n           1       0.91      0.82      0.86        39\n\n    accuracy                           0.84        61\n   macro avg       0.82      0.84      0.83        61\nweighted avg       0.85      0.84      0.84        61\n'

In [25]:
confusion_matrix(Ypred,Y_test)

array([[19,  3],
       [ 7, 32]], dtype=int64)

In [27]:
accuracy_score(Ypred,Y_test)*100

83.60655737704919

# iterating over the hyper_parameter(n_estimators) to check for best result

In [72]:
np.random.seed(45)
for i in range(10,100,10):
        print(f'iterating over estimator {i}')
        RFC = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
        print(f'score for {i}th estimator is {RFC.score(X_test,Y_test)*100:.3f}%')

iterating over estimator 10
score for 10th estimator is 78.689%
iterating over estimator 20
score for 20th estimator is 83.607%
iterating over estimator 30
score for 30th estimator is 80.328%
iterating over estimator 40
score for 40th estimator is 85.246%
iterating over estimator 50
score for 50th estimator is 85.246%
iterating over estimator 60
score for 60th estimator is 83.607%
iterating over estimator 70
score for 70th estimator is 86.885%
iterating over estimator 80
score for 80th estimator is 83.607%
iterating over estimator 90
score for 90th estimator is 85.246%

# saving the model

In [36]:
import pickle

In [39]:
pickle.dump(RFC,open('new pickle file','wb'))

# loading model from pickle

In [48]:
loading = pickle.load(open('new pickle file','rb')).score(X_test,Y_test)

In [45]:
loading

0.8524590163934426