# importing the library

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# importing dataset

In [6]:
df = pd.read_csv('Data/car-sales-extended-missing-data.csv')
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

# getting your your X and Y dataset ready

In [44]:
X = df.drop('Price',axis=1)
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [17]:
X.head()
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

# working with NaN values in d dataset

In [23]:
df.dropna(subset=['Price'],inplace=True)

In [26]:
df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [27]:
df.shape

(950, 5)

In [61]:
Y = df['Price']
Y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

In [29]:
from sklearn.impute import SimpleImputer

In [38]:
from sklearn.compose import ColumnTransformer
df['Doors'].value_counts()

4.0    768
5.0     71
3.0     64
Name: Doors, dtype: int64

In [42]:
#define categorical features
cat_feat = ['Make','Colour']
cat_odo = ['Odometer (KM)']
cat_doo = ['Doors']

In [40]:
#imputer
feat_imputer = SimpleImputer(strategy='constant',fill_value='missing')
odo_imputer = SimpleImputer(strategy='mean')
doo_imputer = SimpleImputer(strategy='constant',fill_value=4)

In [49]:
CT = ColumnTransformer([('feat_imputer',feat_imputer,cat_feat),
                        ('odo_imputer',odo_imputer,cat_odo),
                        ('doo_imputer',doo_imputer,cat_doo)])

In [51]:
Xnew = CT.fit_transform(X)
Xnew

array([['Honda', 'White', 35431.0, 4.0],
       ['BMW', 'Blue', 192714.0, 5.0],
       ['Honda', 'White', 84714.0, 4.0],
       ...,
       ['Nissan', 'Blue', 66604.0, 4.0],
       ['Honda', 'White', 215883.0, 4.0],
       ['Toyota', 'Blue', 248360.0, 4.0]], dtype=object)

In [55]:
df1 = DataFrame(Xnew,columns=['Make','Colour','Odometer (KM)','Doors'])
df1

        Make Colour Odometer (KM) Doors
0      Honda  White         35431     4
1        BMW   Blue        192714     5
2      Honda  White         84714     4
3     Toyota  White        154365     4
4     Nissan   Blue        181577     3
..       ...    ...           ...   ...
945   Toyota  Black         35820     4
946  missing  White        155144     3
947   Nissan   Blue         66604     4
948    Honda  White        215883     4
949   Toyota   Blue        248360     4

[950 rows x 4 columns]

In [64]:
df1.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

# encoding categorical data

In [65]:
categorical_features = ['Make','Colour','Doors']

In [66]:
from sklearn.preprocessing import OneHotEncoder

In [68]:
from sklearn.compose import ColumnTransformer

In [69]:
HT = OneHotEncoder()

In [71]:
CT = ColumnTransformer([('HT',HT,categorical_features)], remainder='passthrough')

In [80]:
Xtransform = CT.fit_transform(df1)

        Make Colour Odometer (KM) Doors
0      Honda  White         35431     4
1        BMW   Blue        192714     5
2      Honda  White         84714     4
3     Toyota  White        154365     4
4     Nissan   Blue        181577     3
..       ...    ...           ...   ...
945   Toyota  Black         35820     4
946  missing  White        155144     3
947   Nissan   Blue         66604     4
948    Honda  White        215883     4
949   Toyota   Blue        248360     4

[950 rows x 4 columns]

# spliting dataset into train and test set

In [81]:
from sklearn.ensemble import RandomForestRegressor

In [82]:
RFR = RandomForestRegressor()

In [83]:
from sklearn.model_selection import train_test_split

In [87]:
X_train,X_test,Y_train,Y_test = train_test_split(Xtransform,Y,test_size = 0.2)

RFR.fit(X_train,Y_train)

RandomForestRegressor()

# predicting the output of test set

In [88]:
Ypred = RFR.predict(X_test)

In [89]:
Ypred

array([14988.41333333, 15553.46333333, 10896.53      , 19703.91      ,
       17949.87      , 16068.28      , 12424.31      , 17437.3175    ,
       22665.61      , 11289.23      ,  9832.3       , 10589.0503749 ,
       40602.56      , 18477.01      , 20303.68      , 25070.61      ,
       13328.63      ,  8241.21      , 18653.23      , 12671.4       ,
       37550.38      , 10377.74      , 25151.67      , 10663.99      ,
       23954.34      , 14713.9       , 11791.85      , 14617.        ,
       23071.2       , 13150.15      , 20462.47      ,  5985.04      ,
       17898.39      , 18033.98      ,  8317.85      , 20378.7       ,
        9532.29      , 11283.85      , 13985.86      , 13035.53      ,
       11604.07      , 10351.37      , 13650.3575    , 16305.3       ,
       17451.46421429, 24356.42      , 19815.06      , 34286.65      ,
        9520.24      ,  9761.37      , 14847.29215861, 17609.41166667,
        7520.47      , 22694.7       , 17515.55      , 17731.03      ,
       21613.91      , 15720.36      , 19937.95      , 16098.68      ,
       20231.25      , 13630.90666667, 20756.76      , 17839.71      ,
       12356.34      ,  9068.03      , 14719.82      , 11204.84      ,
       17113.26      , 11505.46      , 28447.34      , 16046.75      ,
       22593.34      , 21579.13      , 14942.57      , 21310.21      ,
       27448.77      , 17278.86      , 13835.53      ,  8283.49      ,
       19074.82      , 17609.41166667, 21998.7       ,  8076.84      ,
       11942.99      , 16734.24      , 14236.84      , 16818.35      ,
        9844.69      , 13093.94      ,  6861.92      , 15852.46      ,
        8890.22      , 11099.65      , 16334.38      , 11333.11      ,
       11399.61      , 23736.3       , 28159.323     , 18663.34059524,
       11129.02      , 26995.97      , 16685.69      , 10711.93352165,
        9201.11      , 10983.39      , 26356.23      , 12188.77      ,
       11214.88      , 16623.43      , 21013.37      , 11129.77      ,
       28542.82      , 16734.24      , 20975.33      , 14109.25      ,
       19513.35      , 11653.56      , 18263.63      , 11229.71      ,
        9682.        , 26047.188     , 25241.31      , 31931.59      ,
       11041.02      , 10662.76      , 17624.01      , 12907.42      ,
       13070.49      , 15490.8       , 12971.9       , 16139.79      ,
       18467.17      , 20669.26      , 11496.46      , 15364.27      ,
       11939.0262381 , 15649.51      , 20976.31      ,  7443.91      ,
       17609.41166667, 26230.83      ,  6703.58      , 11607.76      ,
       12945.72410714, 10646.21      ,  9599.83      , 15306.99      ,
       18681.91      , 12888.5       , 12464.02      , 16858.64      ,
       25151.2       , 14832.9067381 , 22770.67      , 15361.94      ,
       25338.96      , 16486.08      , 16387.21      , 23082.34      ,
       16416.54      , 19452.22      , 21765.65      , 15712.29      ,
       19947.22      , 13576.31      , 17449.86      , 22815.44      ,
       19094.58      , 18753.8       , 19157.68      , 10912.42      ,
        7173.33      , 10298.97      , 13079.11      , 10490.36      ,
       13337.        ,  8627.4       , 11186.01      , 19760.41      ,
       22196.67      , 12536.27      ,  9813.61      , 15609.23      ,
        9852.73      , 10602.06      , 17842.48      , 18165.41      ,
        8995.2       , 13792.18      ])

In [90]:
RFR.score(X_test,Y_test)

0.29158378391797946

In [92]:
from sklearn.linear_model import Ridge

In [94]:
RE = Ridge(random_state = 5)

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_train,X_test,Y_train,Y_test = train_test_split(Xtransform,Y,test_size = 0.2)

In [97]:
RE.fit(X_train,Y_train)

Ridge(random_state=5)

In [98]:
Yr = RE.predict(X_test)

In [99]:
Yr

array([12864.31866148, 15680.42315011, 17604.07197653, 19657.26842814,
       19285.12780656, 19259.88034771, 15674.84005255, 17484.70238788,
       15054.42452135, 16325.44383705, 20033.01582919, 21912.29632329,
       18065.69038162, 15941.86785146, 15739.66327295, 13580.83264099,
       15772.51955467, 15912.24521606, 17655.30801265, 10967.89361122,
       11850.61590875, 15941.86785131, 20346.16336749, 10218.57275816,
       11034.3472937 , 15155.1179078 , 14286.4274653 , 10348.07097482,
       11542.65620431, 10336.70714801, 17829.76745707, 18054.72181855,
       10763.69058572, 14250.2608516 , 19315.21724311, 20267.55533132,
       15731.90622601, 15377.84891124, 20071.55402403, 12965.30849559,
       20473.58645147, 15941.86785138, 15031.49923619, 19854.94960498,
       11368.29557578, 21102.84600491, 18274.09308239, 12480.7648053 ,
       21356.70401191, 21409.96577373, 19710.03611006, 15049.82958232,
       19612.90009553, 18850.28850577, 18495.58888841, 18341.04084424,
       13720.11363055, 17067.45231496, 11618.94206727, 20643.05569339,
       18947.52333626, 11156.33550395, 10560.32749499, 19542.19733006,
       17382.23031541, 11021.69886038, 12738.18018473, 13208.54379565,
       12871.28518145, 18748.01406516, 17619.04258309, 19905.93860153,
       17106.78103713, 17991.62787612, 12999.89405514, 14379.61084519,
       15941.86785179, 17310.68761542, 20281.78481864, 17260.24210583,
       19486.31694733, 17944.93737055, 16030.7748692 , 16514.67625624,
       13655.04337043, 15003.04026092, 18297.56185565, 20038.69774241,
       10577.8179067 , 18641.73758115, 17527.73670565, 15080.51191441,
       15839.02264522, 18143.50789074, 11228.17465138, 14256.38743637,
       15941.86785138, 10145.64663512, 18224.53691624, 11867.61224116,
       17279.75824312, 18850.48613761, 15368.21436256, 11313.8480235 ,
       11297.59281042, 16074.94556964, 20008.31185795, 14423.83095299,
       19886.22483247, 14455.64966784, 10359.68184126, 18986.85205893,
       19482.06786421, 12473.30420636, 16290.85827746, 18708.88297491,
       11118.09375594, 19841.80709232, 12344.15184477, 17529.51539156,
       18827.90670848, 12936.75070501, 15941.86785156, 15941.86785146,
       14141.76101026, 15159.41639838, 15941.86785197, 18036.24324804,
       12688.22875512, 16512.45289891, 20262.46631326, 15941.86785138,
       17722.84866983, 17924.68011427, 10876.88418143, 12183.8724798 ,
       16017.63235654, 11178.96434095, 17696.16838103, 16872.29094336,
       17541.12625802, 16893.48694995, 12031.94305723, 13914.63269947,
       10773.72039786, 15153.68507699, 11779.369656  , 20319.82893423,
       19047.77205122, 15886.75071727, 12895.00099366, 10898.96953165,
       16290.90768546, 10116.10068553, 15106.79693968, 14721.76084515,
       11282.7704277 , 20296.85424112, 21207.14617049, 18323.55043257,
       15207.53973413, 18763.9728306 , 12532.84077651, 15950.28933148,
       12820.7902646 , 15128.23998668, 14424.47325624, 12869.11123189,
       18585.8571984 , 10180.23219475, 18379.23318373, 16245.40297058,
       17633.86496574, 19001.27917817, 16568.3332816 , 19054.39271568,
       13612.45372415, 14645.03031069, 17789.45057621, 14091.80958057,
       12740.25531831, 18630.07730675, 20795.38037909, 10457.60838294,
       18858.83607971, 17335.88566626, 17301.34951394, 17121.50460396,
       11004.99897595, 11729.22059454])

In [100]:
RE.score(X_test,Y_test)

0.15011857117399174

In [102]:
from sklearn.svm import SVR

In [103]:
SV = SVR()
SV.fit(X_train,Y_train)

SVR()

In [104]:
SV.score(X_test,Y_test)

-0.04321882642773933